<div class="<%= author ? 'author' : 'receiver' %>" id="message-<%= message.id %>">
  <i>
    <span><%= message.user.email %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>
