<body id="chatroom">
  <div class="con-small">
    <h1><%= @chatroom.name %></h1>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>" data-user-id = '<%= current_user.id %>'>
      <div class="container-messages">
        <% @chatroom.messages.each do |message| %>
          <div class="<%= message.user == current_user ? 'author' : 'receiver' %>" id="message-<%= message.id %>">
            <div class="message-avatar">
              <%= image_tag (message.user.avatar), size: "40x40" %>
            </div>
            <div class="message-text">
              <i>
                <strong><span>
                  <% if message.user == current_user %>
                    You
                  <% else %>
                    <%= message.user.username %>
                  <% end %>

                </span></strong>
                <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
              </i>
              <p><%= message.content %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <hr>
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Send a message" %>
    <% end %>
  </div>
</body>
