<body id="chatroom">
  <div class="con-small">
    <h1><%= @chatroom.name %></h1>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>" data-user-id = '<%= current_user.id %>'>
        <% @chatroom.messages.each do |message| %>
          <% if message.user == current_user %>
          <!-- Author Message -->
            <div class="author" id="message-<%= message.id %>">
              <div class="message-text">
                <i>
                  <span> <strong>You</strong> </span> <br>
                  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                </i>
                <p><%= message.content %></p>
              </div>
              <div class="message-avatar">
                <%= image_tag (message.user.avatar), size: "50x50", class: "messages-avatar" %>
              </div>
            </div>
          <% else %>
            <!-- Reciever message -->
            <div class="receiver" id="message-<%= message.id %>">
              <div class="message-avatar">
                <%= image_tag (message.user.avatar), size: "50x50", class: "messages-avatar" %>
              </div>
              <div class="message-text">
                <i>
                  <span> <strong><%= message.user.username %></strong> </span> <br>
                  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                </i>
                <p> <%= message.content %> </p>
              </div>
            </div>
          <% end %>
        <% end %>

    </div>

    <hr>
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Send a message" %>
    <% end %>
  </div>
</body>
