<div class="con-large">
  <div>
    <h1>Bookings</h1>
  </div>
  <div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">

      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="true">
        <h2> Pending (<%= @pending_bookings.count %>)</h2>
        </a>
      </li>

      <li class="nav-item" role="presentation">
        <a class="nav-link" id="upcoming-tab" data-toggle="tab" href="#upcoming_bookings" role="tab" aria-controls="upcoming" aria-selected="false">
        <h2> Upcoming (<%= @upcoming_bookings.count %>)</h2>
        </a>
      </li>

      <li class="nav-item" role="presentation">
        <a class="nav-link" id="previous-tab" data-toggle="tab" href="#previous_bookings" role="tab" aria-controls="previous" aria-selected="false">
        <h2> Previous (<%= @previous_bookings.count %>)</h2>
        </a>
      </li>

    </ul>
  </div>
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
      <%= render 'shared/my_bookings' %>
    </div>

    <div class="tab-pane fade" id="upcoming_bookings" role="tabpanel" aria-labelledby="upcoming_bookings-tab">
      <%= render 'shared/my_upcoming_bookings' %>
    </div>

    <div class="tab-pane fade" id="previous_bookings" role="tabpanel" aria-labelledby="previous_bookings-tab">
      <%= render 'shared/my_previous_bookings' %>
    </div>
  </div>
</div>

