<div class="container booking-form">
  <div class="booking-info">
    <h2 class="d-inline">€ <%= @product.price %></h2><h3 class="d-inline"> per week</h3>
    <p class="small_text">(We will be adding a Service Fee of 10%)</p>
    <h2 class="booking-title"><%= @product.brand %> <%= @product.model %></h2>
    <p><%= @product.description.truncate(35) %> </p>
    <p><i class="far fa-check-circle"></i> <%= @product.condition %></p>
    <p><i class="fas fa-truck"></i> <%= @product.delivery_method %></p>
  </div>
  <div class="form-wrapper">
    <%= simple_form_for([@product, @booking]) do |f| %>
      <%= f.input :check_in, placeholder: "01. 12. 2020", label:false, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :check_out, placeholder: "05. 12. 2020", label:false, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Reserve", :name => "commit", class: "btn btn-primary form-control submit" %>
    <% end %>
  </div>
  <div class="text-center">
    <p class="small_text">You don't have to pay anything yet.</p>
  </div>
</div>
