<div>
  <% if @upcoming_bookings.empty? %>
    <p>You don't have any bookings yet.</p>
    <%= link_to "Browse Products", products_path, class: 'primary-button'  %>
  <% else %>
    <div class="row bookings-row">
      <% @upcoming_bookings.each do |booking| %>
        <div class="col-lg-3 col-sm-5">
          <div class="product-card-bookings bookings">
            <!-- Image -->
            <div class="image image-small">
              <%= cl_image_tag booking.product.photos[0].key, height: 180, width: 255, crop: :fill %>
            </div>
            <!-- card-description -->
            <div class="product-card-description">
              <h2>
                <%= booking.product.title.truncate(25) %>
              </h2>
              <p>
                <%= booking.product.description.truncate(70) %>
              </p>
              <h2 id="dates"><%= booking.check_in %> – <%= booking.check_out %>
              </h2>
            </div>
            <div>
              <button class="booking-card-button-width primary-button"> Mark as arrived link!
              </button>
              <button class="booking-card-button-width secondary-button-unactive"><%= link_to 'Message', chatroom_path(booking.chatroom)%>
              </button>
              <button class="booking-card-button-width other-button-unactive"> <%= link_to "View", product_path(booking.product) %>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
