<div>
  <% if @booked_requests.empty? %>
    <p>You don't have any requests yet.</p>
  <% else %>
    <div class="row bookings-row">
      <% @booked_requests.each do |request| %>
        <div class="col-lg-3 col-sm-5">
          <div class="product-card-bookings bookings">
            <!-- Image -->
            <div class="image image-small">
              <%= cl_image_tag request.product.photos[0].key, height: 180, width: 255, crop: :fill %>
            </div>
            <!-- card-description -->
            <div class="product-card-description">
              <h2>
                <%= request.product.title.truncate(25) %>
              </h2>
              <p>
                <%= request.product.description.truncate(70) %>
              </p>
              <h2 id="dates"><%= request.check_in %> – <%= request.check_out %>
              </h2>
            </div>
            <div>
              <div>
                <%= simple_form_for(request) do |f| %>
                  <%= f.input :confirmed, as: :hidden, input_html:{value: "returned"}%>
                   <%= button_tag type: 'submit', class: "secondary-button booking-card-button-width" do %>
                    <p>Mark as back</p>
                  <% end %>
                <% end %>
              </div>

              <button class="secondary-button-unactive booking-card-button-width"> <%= link_to "Send message", chatroom_path(request.chatroom) %>
              </button>

              <button class="booking-card-button-width other-button-unactive"> <%= link_to "View", product_path(request.product) %>
              </button>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
