<div>
  <% if @products.empty? %>
    <p>You didn't insert any product yet.</p>
    <%= link_to "Insert a product", new_product_path, class: 'primary-button'  %>
  <% else %>
    <div class="row bookings-row">
      <% @products.each do |product| %>
        <div class="col-lg-3 col-sm-5">
          <div class="product-card-bookings">
            <!-- Image -->
            <div class="image image-small">
              <%= cl_image_tag product.photos[0].key, height: 180, width: 255, crop: :fill %>
            </div class="product-card-description">
              <h2>
                <%= product.title.truncate(25) %>
              </h2>
              <p>
                <%= product.description.truncate(80) %>
              </p>
              <h2 class="product-card-price">
                  €<%= product.price %> per week
              </h2>
            <div>

              <button class="secondary-button booking-card-button-width"><%= link_to "Edit", edit_product_path(product) %>
              </button>

              <button class="secondary-button-unactive booking-card-button-width"> <%= link_to "Delete", product_path(product), method: :delete,  data: { confirm: "Are you sure?" } %>
              </button>

              <button class="booking-card-button-width other-button-unactive"> <%= link_to "View", product_path(product) %>
              </button>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


