<div>
  <% @bookings.each do |booking| %>
    <div class="product-card bookings">
      <!-- Image -->
      <div class="image image-small">
        <%= cl_image_tag booking.product.photos[0].key, height: 200, width: 1650 %>
      </div>
      <!-- card-description -->
      <div class="product-card-description">
        <h2><%= booking.product.title.truncate(25) %></h2>
         <p><%= booking.product.description.truncate(120) %></p>
              <p id="dates">Dates: <%= booking.check_in %> until <%= booking.check_out %></p>
      </div>
        <h4><span class="product-card-price">€<%= booking.product.price %></span> day</h4>
      </div>
    </div>
  <% end %>
</div>


