<div class="container">
  <%= form_tag products_path, :method => 'get' do |f| %>
  <div style="display: inline" >
    <%#= text_field_tag :delivery_method, params[:delivery_method] %>
    <p class="sidebar-headers"><i class="far fa-check-circle"></i> Price</p>
    <div class="price" style="display: inline">
      <%= text_field_tag :price_min, params[:price_min], placeholder: "1 €" %>
    </div>

    <div class="price" style="display: inline">
      <%= text_field_tag :price_max, params[:price_max], placeholder: "150 €" %>
    </div>

    <p class="sidebar-headers"><i class="fas fa-laptop"></i> Brand</p>
    <div class="sidebar-select">
      <%= collection_select(:product, :brand, Product.all.select(:brand).distinct, :brand, :brand, {:prompt => 'choose a brand'}) %>
      <i class="fas fa-chevron-down down-icon"></i>
      <%#= collection_check_boxes(:product, :brand, Product.all, Product.all.distinct.pluck(:brand), :brand) %>
      <%#= text_field_tag :brand, params[brand], placeholder: "Apple" %>
    </div>

    <p class="sidebar-headers"><i class="fas fa-tag"></i> Category</p>
    <div class="sidebar-select">
      <%= collection_select(:product, :category, Product.all.select(:category).distinct, :category, :category, {:prompt => 'choose a category'}) %>
      <i class="fas fa-chevron-down down-icon"></i>
      <%#= collection_check_boxes(:product, :brand, Product.all, Product.all.distinct.pluck(:brand), :brand) %>
      <%#= text_field_tag :brand, params[brand], placeholder: "Apple" %>
    </div>

    <p class="sidebar-headers"><i class="far fa-check-circle"></i> Condition</p>
    <div class="sidebar-select">
      <%= collection_select(:product, :condition, Product.all.select(:condition).distinct, :condition, :condition, {:prompt => 'choose quality'}) %>
      <i class="fas fa-chevron-down down-icon"></i>
      <%#= collection_check_boxes(:product, :condition, Product.all, :condition, :condition) %>
      <%#= f.check_box(:condition, { :multiple => true}) %>
    </div>

    <p class="sidebar-headers"><i class="fas fa-truck"></i> Delivery</p>
    <div class="sidebar-select">
      <%= collection_select(:product, :delivery_method, Product.all.select(:delivery_method).distinct, :delivery_method, :delivery_method, {:prompt => 'choose your Delivery'}) %>
      <i class="fas fa-chevron-down down-icon"></i>
      <%#= collection_check_boxes(:product, :delivery_method, Product.all, :delivery_method, :delivery_method) %>
      <%#= text_field_tag :delivery_method, params[:delivery_method], placeholder: "Flexible" %>
    </div>
     <%= submit_tag "Search", class: "side-button sidebar-headers"%>
  </div>

  <% end %>
</div>

