<div class="con-large">
  <div>
    <div class="row justify-content-center bg-blue">
      <%= render 'shared/searchform' %>
    </div>
  <h1 class="text-center prompt">We found <%= pluralize @products.count, "Product" %> based on your search:</h1>
  </div>
  <div class="container-content">
    <div class="container-sidebar">
      Sidebar goes here
    </div>
    <div class="product-card-container">
      <div class="row product-card-row">
        <% @products.each do |product| %>
          <div class="product-card">
            <!-- Image -->
            <div class="image image-small">
              <%= cl_image_tag product.photos[0].key, height: 180, width: 255, crop: :fill %>
              <div class="heart">
                <i class="far fa-heart"></i>
              </div>
            </div>
            <!-- card-description -->
            <div class="product-card-description">
              <h3><%= product.title.truncate(25) %></h3>
              <p><%= product.description.truncate(50) %></p>
              <h4><span class="product-card-price">€ <%= product.price %></span> per Month</h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

