<body id="show-page">
  <div class="con-small row justify-content-center">
      <% if policy(@product).edit? %>
        <%= link_to "Edit", edit_product_path(@product), class: "btn btn-secondary" %>
      <% end %>

      <% if policy(@product).destroy? %>
        <%= link_to "Delete Product", product_path(@product), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      <% end %>

    <div>
      <h1 class="product-title"><%= @product.title %></h1>
      <p class="product-location"><i class="fas fa-map-marker-alt"></i> <% @product.address.split.last(2).each do |address| %>
        <%= address %>
        <% end %>
      </p>
      <div class="image-large">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @product.photos.each_with_index do |photo, index| %>
          <div class="carousel-item card-images <%= "active" if index==0 %> ">
            <%= cl_image_tag photo.key, height: 600, width: 1168, crop: :fill %>
            <% if policy(Favourite).create? %>
              <%= simple_form_for([@product, @favourite]) do |f| %>
              <h2><%= f.button :submit, class: "heart far fa-heart", value: "" %>
                <i class="heart far fa-heart"></i></h2>
              <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="container-product">
      <div class="row justify-content-between">
        <div class="col-7">
        <h1 class="content-info">Everything you need to know</h1>
        <div class="card-info">
          <div class="content-info">
            <h2>Description</h2>
            <p><%= @product.description %></p>
          </div>
          <div class="content-info">
            <h2 class="product-specs">Product Specifications</h2>
            <div class="row justify-content-between">
              <div class="col-6">
                <p><i class="fas fa-laptop"> </i> <%= @product.brand %></p>
                <p><i class="fas fa-truck"> </i> Delivery: <%= @product.delivery_method %></p>
              </div>
              <div class="col-6">
                <p><i class="fas fa-tag"> </i> Category: <%= @product.category %></p>
                <p><i class="far fa-check-circle"></i>  Condition: <%= @product.condition %></p>
              </div>
            </div>
          </div>
          <div class="content-info">
            <h2>Accessories</h2>
            <p><%= @product.accessories %></p>
          </div>
          <div class="content-info">
            <h2>Location</h2>
            <div class="row justify-content-between">
              <div class="col-6">
                <p><%= @product.address %></p>
              </div>
              <div class="col-3">
                <a href="https://www.google.com/maps/place/Berlin/" target="_blank"><i class="fas fa-map-marker-alt"></i> Get Directions</a>
              </div>
            </div>
            <%= image_tag("map_fake.png", class: "image-medium") %>
          <div class="reviews-container content-info">
            <h2 class="card-subheader"><i class="fas fa-star"> </i> Reviews (<%= @product.reviews.count %>) </h2>
            <% if @product.reviews.count == 0 %>
              <p>There are no Reviews yet.</p>
            <% else %>
              <ul class="list-group">
                <% @product.reviews.each do |review| %>
                <li class="list-group-item">
                  <%= review.rating %>/5<br>
                  <%= review.description %>
                <% end %>
                </li>
              </ul>
            <% end %>
            </div>
          </div>
        </div>
      </div>
        <div class="col-4">
          <h2>Location</h2>
          <p><%= @product.address %></p>
        </div>
    </div>
  </div>
</body>
