<div class="container">
  <%= simple_form_for [ @product, @review ] do |f| %>
  <%= f.input :description, label: "How was your renting experience?" %>
  <%= f.collection_radio_buttons :rating, [[1], [2], [3], [4], [5]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
  <%= b.radio_button + b.label {''} %>
  <% end %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>

